# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\alfon\OneDrive\Documentos\AA 3 sem\Computacion\PracticasComputacionI\Cacluladora\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
